<header class="section section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-image" title="{settings.logo.linktitle}">
                    <img class="img-fluid" src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                </f:link.page>
            </div>
            <div class="col-md-9">
                <img class="img-fluid" src="{f:uri.image(src: settings.logo2.file)}" alt="{logoAlt}" height="{settings.logo2.height}" width="{settings.logo2.width}">
            </div>
        </div>
    </div>
</header>
